{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}

body{
  background:#fdeff2;
}

/* pages */
.page{
  display:none;
  min-height:100vh;
  padding:20px;
}

.page.active{
  display:block;
}

/* paper box */
.paper{
  display: none;
  background: #fffdf5;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);

  /* Paper Look */
  background-image: linear-gradient(#f9f3dc 1px, transparent 1px);
  background-size: 100% 30px;

  font-size: 18px;
  line-height: 30px;
  font-family: cursive;

  animation: openPaper 1s ease;
}

/* Opening Animation */
@keyframes openPaper{
  from{
    transform: scaleY(0);
    opacity:0;
  }
  to{
    transform: scaleY(1);
    opacity:1;
  }
}




/* urdu */
.urdu{
  direction:rtl;
  font-size:22px;
}

/* inputs & buttons */
input{
  width:100%;
  padding:12px;
  margin:10px 0;
  font-size:18px;
}

.btn{
  width:100%;
  padding:14px;
  margin-top:10px;
  background:#ff4d6d;
  color:#fff;
  border:none;
  border-radius:8px;
  font-size:18px;
}

/* play music button */
#playBtn{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#ff4d6d;
  color:#fff;
  border:none;
  padding:10px 16px;
  border-radius:4px; /* square */
  z-index:999;
}

/* center text */
.center-text{
  text-align:center;
  margin-top:120px;
  font-size:26px;
  animation:float 3s infinite;
}

@keyframes float{
  50%{transform:translateY(-15px);}
}

/* kiss hug pop */
.pop{
  position:fixed;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
  font-size:40px;
  animation:pop 1.5s forwards;
}

@keyframes pop{
  0%{opacity:0; transform:scale(0);}
  50%{opacity:1; transform:scale(1.3);}
  100%{opacity:0;}
}

.page{
  display:none;
  animation: fade 0.5s ease;
}

@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

/* lock design */
.lock-container{
  text-align:center;
  margin-top:100px;
}

.heart-lock{
  font-size:80px;
  position:relative;
  animation: heartbeat 1s infinite;
}

.lock-text{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:20px;
  color:white;
  font-weight:bold;
}

@keyframes heartbeat{
  from{ transform:scale(1);}
  to{ transform:scale(1.2);}
}

/* cartoon des */
.cartoon-top{
  text-align:center;
  margin-top:40px;
}

.cartoon-top img{
  width:200px;
}

@keyframes float{
  0%{ transform:translateY(0);}
  50%{ transform:translateY(-20px);}
  100%{ transform:translateY(0);}
}

/* Mail des */
.mail{
  font-size:80px;
  text-align:center;
  cursor:pointer;
  animation: shake 1s infinite;
}

@keyframes shake{
  0%{ transform:rotate(0);}
  50%{ transform:rotate(10deg);}
  100%{ transform:rotate(0);}
}

.letter{
  display:none;
  margin-top:20px;
  text-align:center;
}

.line{
  opacity:0;
  transform:translateY(20px);
}


/* heart falling */
.heart{
  position:fixed;
  top:-10px;
  animation:fall 5s linear;
}

@keyframes fall{
  to{
    transform:translateY(100vh);
    opacity:0;
  }
}
/* center */
.nav{
  position:relative;
  margin-bottom:15px;
}

