body{
  margin:0;
}

/* pages */
.page{
  display:none;
  min-height:100vh;
  padding:40px 20px 150px;
  opacity:0;
  transition:opacity 0.5s ease;
}

.page.active{
  display:block;
  opacity:1;
}


/* paper box */
.paper{
  display: block;
  background: #fffdf5;
  padding:30px 20px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);

  /* Paper Look */
  background-image: linear-gradient(#f9f3dc 1px, transparent 1px);
  background-size: 100% 30px;

  font-size: 18px;
  line-height: 30px;
  font-family: cursive;

  animation: openPaper 1s ease;
}

/* Opening Animation */
@keyframes openPaper{
  from{
    transform: scaleY(0);
    opacity:0;
  }
  to{
    transform: scaleY(1);
    opacity:1;
  }
}




/* urdu */
.urdu{
  direction:rtl;
  font-size:22px;
}

/* inputs & buttons */
input{
  width:100%;
  padding:12px;
  margin:10px 0;
  font-size:18px;
}


/* play music button */
#playBtn{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#ff4d6d;
  color:#fff;
  border:none;
  padding:10px 16px;
  border-radius:4px; /* square */
  z-index:999;
}

/* center text */
.center-text{
  text-align:center;
  margin-top:120px;
  font-size:26px;
  animation:float 3s infinite;
}

@keyframes float{
  50%{transform:translateY(-15px);}
}

/* kiss hug pop */
.pop{
  position:fixed;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
  font-size:40px;
  animation:pop 1.5s forwards;
}

@keyframes pop{
  0%{opacity:0; transform:scale(0);}
  50%{opacity:1; transform:scale(1.3);}
  100%{opacity:0;}
}


@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

/* lock design */
.lock-container{
  text-align:center;
  margin-top:100px;
}

.heart-lock{
  font-size:80px;
  position:relative;
  animation: heartbeat 1s infinite;
}

.lock-text{
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:20px;
  color:white;
  font-weight:bold;
}

@keyframes heartbeat{
  from{ transform:scale(1);}
  to{ transform:scale(1.2);}
}

/* cartoon des */
.cartoon-top{
  text-align:center;
  margin-top:40px;
}

.cartoon-top img{
  width:200px;
}

@keyframes float{
  0%{ transform:translateY(0);}
  50%{ transform:translateY(-20px);}
  100%{ transform:translateY(0);}
}

/* Mail des */
/* .mail{
  font-size:80px;
  text-align:center;
  cursor:pointer;
  animation: shake 1s infinite;
}*/


@keyframes shake{
  0%{ transform:rotate(0);}
  50%{ transform:rotate(10deg);}
  100%{ transform:rotate(0);}
}

/* letter slider */
.letter{
  width:90%;
  max-width:500px;
  margin:40px auto;
  padding:30px;
  background:#f5f1e8;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.line{
  opacity:0;
  transform:translateY(20px);
  transition:all 0.6s ease;
}

.line.show{
  opacity:1;
  transform:translateY(0);
}




/* heart falling */
.heart{
  position:fixed;
  top:-10px;
  animation:fall 5s linear;
}

@keyframes fall{
  to{
    transform:translateY(100vh);
    opacity:0;}
  }


/* ===== ALL BUTTONS ===== */
.btn{
  display:block;
  width:80%;
  max-width:260px;
  margin:15px auto;
  padding:15px;
  border:none;
  border-radius:30px;
  font-size:18px;
  font-weight:600;
  color:white;
  background:linear-gradient(45deg,#ff4d6d,#ff758f);
  box-shadow:0 8px 20px rgba(255,77,109,0.4);
  transition:0.3s ease;
}

.btn-group{
  text-align:center;
  margin-top:30px;
}

.btn:hover{
  transform:scale(1.05);
  box-shadow:0 10px 25px rgba(255,77,109,0.6);
}




p{
  font-family: "Noto Nastaliq Urdu", serif;
}


/*page 4 style */


.gif{
  width:200px;
  display:block;
  margin:20px auto;
}

.moto{
  text-align:center;
  font-size:26px;
  margin-top:20px;
}



/* HEARTS FLOTING */

.hearts{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  pointer-events:none;
  overflow:hidden;
  z-index:0;
}

.hearts span{
  position:absolute;
  bottom:-20px;
  color:#ff4d6d;
  font-size:20px;
  animation:floatUp 6s linear forwards;
}

@keyframes floatUp{
  from{
    transform:translateY(0);
    opacity:1;
  }
  to{
    transform:translateY(-110vh);
    opacity:0;
  }
}
